    .bg-theme-primary {
        background-color: #DF610C !important;
    }

    .bg-theme-primary:hover{
        background-color: #DF610C;
    }

    .bg-theme-secondary {
        background-color: #023B70 !important;
    }

    .border-theme-primary {
        border-color: #DF610C;
    }

    .text-primary{
        color : #DF610C;
    }

    .custom-overflow{
        overflow-x: hidden;
    }

    .theme-secondary{
        color: #FF802B;
    }

    .nav-admin span{
        color: #fff;
    }

    .admin-logo{
        height: 90px;
    }

@media (min-width: 576px) {
    .h-sm-100 {
        height: 100%;
    }
}
